

  <header>
    <div class="px-3 py-3 text-bg-dark">
      <div class="container">
   
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
           Blog App
          </a>

          <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
            <li>
              <a routerLink="" class="nav-link text-secondary">
                Home
              </a>
            </li>
            <li>
              <a routerLink="about" class="nav-link text-white">
             About
              </a>
            </li>
            <li>
              <a routerLink="addblog"  class="nav-link text-white">
                Add Blog
              </a>
            </li>
            <li>
              <a routerLink="contact" class="nav-link text-white">
                Contact
              </a>
            </li>
            <li>
              <a routerLink="login" class="nav-link text-white">
                Login
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>
  <router-outlet></router-outlet>