
.details-page{
    position: relative;
    width: 100%;
    margin: auto;
}
.b-item{
    background-size: cover;
    height: 50vh;
position: relative;

}  
.b-img{
width: 100%;
height: 100%;
}
.content{
    position: absolute;
    top: 5vh;
    left: 14%;
    min-height: 100vh;
    background-color: whitesmoke;
    width: 70%;
}


.blog-img-item{
width: 68%;
margin: auto;
}
.blog-img{
width: 100%;
margin: auto;
}