<section id="blog" class="  "> 


  <div class="details-page " >
    <div class="b-item">
      <img
        class="b-img"
        src="http://wallpapers.net/web/wallpapers/green-leaves-hd-wallpaper/828x350.jpg"
        alt="blog image"
      />
    </div>
  
    <div class="content text-center p-4">
      <p class="text-secondary">{{blogdata?.createdAt |  date: ' d MMMM y'}}</p>
      <h1 class="p-2" style="width: 80%; margin: auto">
    {{blogdata?.title}}
      </h1>
      <hr />
      <p class="p-4" style="width: 75%; margin: auto; text-align: start">
        {{blogdata?.content}}
      </p>
  <div class="blog-img-item"> 
    <img
    class="blog-img"
      src={{blogdata?.imageurl}}
      alt={{blogdata?.content}}
    />
  </div>
    </div>
  </div>
  

</section>
