<!-- Using Reactive form method  -->
<div class="container-sm  p-8" style="width:45%">
    <main class="form-signin   m-auto">
        <form    >
          <img class="mb-4 mt-5"  src="https://cdn-icons-png.flaticon.com/128/7141/7141726.png" alt="" width="72" height="77">
          <h1 class="h3 mb-3 fw-normal">Please Signup </h1>
      
          <div class="form-floating">
            <input   type="text" class="form-control"  name="email" placeholder="Name" ngModel >
            <label for="floatingInput">Name</label>
          </div>
          <br>
          <div class="form-floating">
            <input   type="email" class="form-control"  name="email" placeholder="myemail@gamail.com" ngModel >
            <label for="floatingInput">Email address</label>
          </div>
          <br>
          <div class="form-floating">
            <input type="password"  class="form-control"   name="password" placeholder="Password" ngModel >
            <label for="floatingPassword">Password</label>
          </div>
          <br>          
          <button class="w-50 btn btn-lg btn-primary" type="submit">Sign in</button>
        </form>
      </main>
</div>