<!-- Using Reactive form method  -->
<div class="container-sm p-8" style="width: 45%">
  <main class="form-signin m-auto">
    <form [formGroup]="SignupData" (ngSubmit)="submitSignupData()">
      <img
        class="mb-4 mt-5"
        src="https://cdn-icons-png.flaticon.com/128/7141/7141726.png"
        alt=""
        width="72"
        height="77"
      />
      <h1 class="h3 mb-3 fw-normal">Please Signup</h1>

      <div class="form-floating">
        <input
          formControlName="name"
          type="text"
          class="form-control"
          placeholder="Name"
        />
        <label for="floatingInput">Name</label>
        <div
          *ngIf="
            SignupData.get('name').invalid && SignupData.get('name').touched
          "
          class="form-text val"
        >
          Please Enter Name
        </div>
      </div>
      <br />
      <div class="form-floating">
        <input
          formControlName="email"
          type="email"
          class="form-control"
          placeholder="myemail@gamail.com"
        />
        <label for="floatingInput">Email address</label>
        <div
          *ngIf="
            SignupData.get('email').invalid && SignupData.get('email').touched
          "
          class="form-text val"
        >
          Please Enter Email
        </div>
      </div>
      <br />
      <div class="form-floating">
        <input
          type="password"
          formControlName="password"
          class="form-control"
          placeholder="Password"
        />
        <label for="floatingPassword">Password</label>
        <div
          *ngIf="
            SignupData.get('password').invalid &&
            SignupData.get('password').touched
          "
          class="form-text val"
        >
          Please Enter Password
        </div>
      </div>
      <br />
      <button
        class="w-50 btn btn-lg btn-primary"
        [disabled]="SignupData.invalid"
      >
        Sign in
      </button>
    </form>
  </main>
</div>
