<!-- Using Reactive form method  -->

<div class="d-flex flex-md-row justify-content-between mt-4 bg-light border" style="width: 65%; margin: auto; align-items: center;border-top-right-radius: 10% ; border-bottom-right-radius: 10%;  ">

  <div class="container-xxl    px-4 py-2 " style="box-sizing: border-box;">
    <main class="form-signin m-auto ">
      <form [formGroup]="SignupData" (ngSubmit)="submitSignupData()">
        <h1 class="h3 mb-3 fw-normal text-center ">Create Account</h1>
        <div class="text-center">
          <fa-icon class="fa-3x" [icon]="faUnlock"></fa-icon>
        </div>
        <div class="form-floating">
          <input
            formControlName="name"
            type="text"
            class="form-control"
            placeholder="Name"
          />
          <label for="floatingInput">Name</label>
          <div
            *ngIf="
              SignupData.get('name').invalid && SignupData.get('name').touched
            "
            class="form-text val"
          >
            Please Enter Name
          </div>
        </div>
        <br />
        <div class="form-floating">
          <input
            formControlName="email"
            type="email"
            class="form-control"
            placeholder="myemail@gamail.com"
          />
          <label for="floatingInput">Email address</label>
          <div
            *ngIf="
              SignupData.get('email').invalid && SignupData.get('email').touched
            "
            class="form-text val"
          >
            Please Enter Email
          </div>
        </div>
        <br />
        <div class="form-floating">
          <input
            type="password"
            formControlName="password"
            class="form-control"
            placeholder="Password"
          />
          <label for="floatingPassword">Password</label>
          <div
            *ngIf="
              SignupData.get('password').invalid &&
              SignupData.get('password').touched
            "
            class="form-text val"
          >
            Please Enter Password
          </div>
        </div>
        <br />
        <p class="text-end text-secondary">
          Don't have an account ? <a routerLink="../login"> LogIn...</a>
        </p>
        <button
          class="w-50 btn btn-lg btn-primary"
          [disabled]="SignupData.invalid || loading"
        >
          <span
            *ngIf="loading"
            class="spinner-grow spinner-grow-sm"
            role="status"
            aria-hidden="true"
          ></span
          ><span *ngIf="!loading">SignUp</span>
        </button>
      </form>
    </main>
  </div>

  <div class="w-80 position-relative d-none d-md-block">
    <img src="../../../assets/signinimg.png" style="width: 100%;filter: blur(0.7px); border-top-right-radius: 10% ; border-bottom-right-radius: 10%;" alt="signup">
    <h1 class="text-center" style="position: absolute; top: 35%; color: whitesmoke; left: 25%;font-size: 1.8rem;"> Welcome to <br><span  class="text-center    " style="font-size: 3.8rem;"> BlogiFiy</span>  </h1>
  </div>
</div>
