.nav-link {
  color: rgb(246, 246, 246);
}
.nav-item .active {
  color: tomato;
  font-weight: 700;
  text-decoration: underline;
}
.nav-item .btnc {
  border: none;
}
.navbarbox {
  background-color: rgb(78, 78, 78);
}
.nav-item {
  margin: 5px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}
.nav-item:hover {
  transform: translateY(5px);
}
.applogo {
  transition: all 0.3s ease-in-out;
}
.applogo:hover {
  transform: translateY(5px);
}
