<header class="fixed-top border mb-4 top-0">
  <div class="px-3 py-3 text-bg-light">
    <div class="container">
      <div
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
      >
      <div>
        
      </div>
      <div>

        
      </div>
      <img  style="cursor: pointer;"   routerLink=""  src="https://cdn-icons-png.flaticon.com/128/9814/9814634.png"[width]="50" alt="">
        <a
        routerLink="" 
          class="d-flex align-items-start my-2 my-lg-0 me-lg-auto text-primary text-decoration-none"
        >
          BlogiFiy
        </a>
        <!-- <div  class="collapse navbar-collapse" id="navbarResponsive"> -->
        <div [ngSwitch]="menuType">
          <ul
            *ngSwitchCase="'default'"
            class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small"
          >
            <li class="nav-item">
              <a routerLinkActive="active" routerLink="" class="nav-link">
                Home
              </a>
            </li>
            <li class="nav-item">
              <a routerLinkActive="active" routerLink="about" class="nav-link">
                About
              </a>
            </li>
            <li class="nav-item">
              <a routerLinkActive="active" routerLink="user-blogs" class="nav-link">
              UserPanel
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="login" routerLinkActive="active" class="nav-link">
                Login
              </a>
            </li>
          </ul>
          <ul
            *ngSwitchCase="'user'"
            class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small"
          >
            
            <li class="nav-item">
              <a routerLinkActive="active" routerLink="user-blogs" class="nav-link">
              My Blogs
              </a>
            </li>
            <li class="nav-item">
              <a routerLinkActive="active" routerLink="user-addblog" class="nav-link">
                Add Blog
              </a>
            </li>
            <li class="nav-item">
              <a routerLinkActive="active" routerLink="user-profile" class="nav-link">
               Profile
              </a>
            </li>
            <li class="nav-item">
              <button (click)="logoutme()"  class=" btn btn-danger"> 
                Logout
              </button>
              
            </li>
          </ul>



        </div>
        <!-- </div> -->
      </div>
    </div>
  </div>
</header>
