
<div class="container-sm">
    <main class="form-signin w-100 m-auto">
        <form #loginForm="ngForm" (ngSubmit)=getUsers(loginForm.value)>
          <img class="mb-4 mt-5"  src="https://avatars.githubusercontent.com/u/96649241?v=4" alt="" width="72" height="77">
          <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
      
          <div class="form-floating">
            <input   type="email" class="form-control"  name="email" placeholder="myemail@gamail.com" ngModel >
            <label for="floatingInput">Email address</label>
          </div>
          <br>
          <div class="form-floating">
            <input type="password"  class="form-control"   name="password" placeholder="Password" ngModel >
            <label for="floatingPassword">Password</label>
          </div>
          <br>
          <!-- <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me"> Remember me
            </label>
          </div> -->
          <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        </form>
      </main>
</div>