<section id="blog" class="bg-light">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-8 mx-auto text-center">
        <h6 class="text-primary">BLOG</h6>
        <h1>Latest News From The Blog</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur nisi necessitatibus repellat
          distinctio eveniet eaque fuga in cumque optio consectetur harum vitae
          debitis sapiente praesentium aperiam aut
        </p>
      </div>
    </div>
    <div class="row g-8">
      <div class="col-md-8 col-lg-4" *ngFor="let val of blogs.data">
        <div class="blog-post card-effect">
          <div class="" style="height: 250px">
            <img
              src={{val?.imageurl}} 
              style="height: 100%"
              alt=""
            />
          </div>
          <h6 class="text-primary mt-2">{{ val?.Category }}</h6>
          <h5 class="mt-2">
            <a href="#">{{ val?.title }}</a>
          </h5>
          <p class="text-card-content">{{ val?.content }}</p><span>. . . . </span>
          <h6 class="text-primary mt-2">Read More ..</h6>
        </div>
      </div>
    </div>
  </div>

  <div class="row featurette align-items-center container m-auto mt-4">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">
        First featurette heading.
        <span class="text-body-secondary">It’ll blow your mind.</span>
      </h2>
      <p class="lead">
        Some great placeholder content for the first featurette here. Imagine
        some exciting prose here.
      </p>
    </div>
    <div class="col-md-5">
      <svg
        class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
        width="500"
        height="500"
        xmlns="http://www.w3.org/2000/svg"
        role="img"
        aria-label="Placeholder: 500x500"
        preserveAspectRatio="xMidYMid slice"
        focusable="false"
      >
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="var(--bs-secondary-bg)" />
        <text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">
          500x500
        </text>
      </svg>
    </div>
  </div>
</section>
