

a {
    color: var(--dark);
    text-decoration: none;
}

img {
    width: 100%;
}
 

.btn {
    padding: 14px 18px;
    border-width: 2px;
    border-radius: 0;
}


section {
    padding-top: 10px;
    padding-bottom: 10px;
}



.selected {
  color: tomato;
  font-size: 1.1rem;
  transform: translateY(5px);
  transform: translateX(5px);

}
 .tags{
  transition: all 0.3s ease-in-out;
  padding: 0px  10px  ;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10%;
 }


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.featuredpostimg{
width: 100%;
 height: 40vh;
 object-fit: cover;
 background-repeat: no-repeat;
 filter: brightness(40%) blur(1px);
}
.overcontent{
    top: 25%;
    left: 10%;
}






.card-effect {
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
    padding: 25px;
    transition: all 0.35s ease;
}

.card-effect:hover {
    box-shadow: none;
    transform: translateY(5px);
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

 
 

 


.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }


  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

 
 

  .text-card-content{
    height: 45px;
    overflow-y: hidden;
  }
