
<section id="" class=" mt-4 p-4"  >
  <header class=" mt-2 py-2">
    <nav class="container d-flex flex-row justify-content-between">
      <p class="py-2  tags   d-none d-md-inline-block" [ngClass]="{'selected': selectedTag === 'All'}" [class.transition]="selectedTag" [class.animate]="selectedTag" style="cursor: pointer;" (click)="setSelectedTag('All')">All</p>
      <p class="py-2 tags   d-none d-md-inline-block" [ngClass]="{'selected': selectedTag === 'AutoMobile'}"   [class.transition]="selectedTag" [class.animate]="selectedTag"  style="cursor: pointer;" (click)="setSelectedTag('AutoMobile')">AutoMobile</p>
      <p class="py-2  tags  d-none d-md-inline-block" [ngClass]="{'selected': selectedTag === 'Academic'}"  [class.transition]="selectedTag" [class.animate]="selectedTag"  style="cursor: pointer;" (click)="setSelectedTag('Academic')">Academic</p>
      <p class="py-2  tags  d-none d-md-inline-block" [ngClass]="{'selected': selectedTag === 'Global'}"  [class.transition]="selectedTag" [class.animate]="selectedTag"  style="cursor: pointer;" (click)="setSelectedTag('Global')">Global</p>
      <p class="py-2  tags  d-none d-md-inline-block" [ngClass]="{'selected': selectedTag === 'GeoPolytics'}"  [class.transition]="selectedTag" [class.animate]="selectedTag"  style="cursor: pointer;" (click)="setSelectedTag('GeoPolytics')">GeoPolytics</p>
      <p class="py-2  tags  d-none d-md-inline-block" [ngClass]="{'selected': selectedTag === 'Health'}"  [class.transition]="selectedTag" [class.animate]="selectedTag"  style="cursor: pointer;" (click)="setSelectedTag('Health')">Health</p>
      <p class="py-2  tags  d-none d-md-inline-block" [ngClass]="{'selected': selectedTag === 'Technology'}"  [class.transition]="selectedTag" [class.animate]="selectedTag"  style="cursor: pointer;" (click)="setSelectedTag('Technology')">Technology</p>
      <p class="py-2 tags   d-none d-md-inline-block" [ngClass]="{'selected': selectedTag === 'Nature'}"  [class.transition]="selectedTag" [class.animate]="selectedTag"  style="cursor: pointer;" (click)="setSelectedTag('Nature')">Nature</p>
      <p class="py-2 tags   d-none d-md-inline-block" [ngClass]="{'selected': selectedTag === 'News'}"   [class.transition]="selectedTag" [class.animate]="selectedTag" style="cursor: pointer;" (click)="setSelectedTag('News')">News</p>
    </nav>

  </header>
  <div class="container mt-4">
    <div class="row mb-2">
      <div class="col-md-8 mx-auto text-center"  *ngIf="selectedTag">
        <h6 class="text-primary">BLOG</h6>
        <h2>Latest Blogs From {{selectedTag}} Sector</h2>
       
      </div>
    </div>
 
    <div class="row g-8">
      <div>
        <app-display-error *ngIf="blogs?.data.length<1" [displayerror]="error" ></app-display-error>
      </div>
      <div class="col-md-8 col-lg-4" *ngFor="let val of blogs?.data | filter:selectedTag">
    
       
        <div class="blog-post card-effect bg-light">
          <div class="" style="height: 250px">
            <img
              src={{val?.imageurl}} 
              style="height: 100%"
              alt="Blog Image"
            />
          </div>
          <h6 class="text-primary mt-2">{{ val?.Category }}</h6>
          <h5 class="mt-2">
            <a  routerLink="blogdetails/{{val?._id}}">{{ val?.title }}</a>
          </h5>
          <p class="text-card-content">{{ val?.content }}</p><span>. . . . </span>
          <h6 class="text-primary mt-2" style="cursor: pointer;" routerLink="blogdetails/{{val?._id}}">Read More ..</h6>
        </div>
      </div>
    </div>

  </div>
<!-- 
  <div class="row featurette align-items-center container m-auto mt-4">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">
        First featurette heading.
        <span class="text-body-secondary">It’ll blow your mind.</span>
      </h2>
      <p class="lead">
        Some great placeholder content for the first featurette here. Imagine
        some exciting prose here.
      </p>
    </div>
    <div class="col-md-5">
      <svg
        class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
        width="500"
        height="500"
        xmlns="http://www.w3.org/2000/svg"
        role="img"
        aria-label="Placeholder: 500x500"
        preserveAspectRatio="xMidYMid slice"
        focusable="false"
      >
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="var(--bs-secondary-bg)" />
        <text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">
          500x500
        </text>
      </svg>
    </div>
  </div> -->
</section>
