<section class="container">



    <div class="row g-4  " style="box-sizing: border-box; ">
      <div *ngIf="loading" style="position: absolute;top: 40%; right: 0%;left: 0%;">
        <div class="d-flex justify-content-center"  >
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      </div>
        <div class="col-md-8 col-lg-4   "  *ngFor="let val of UsersBlogs?.data">
          <div class="blog-post card-effect">
            <div class="" style="  width:98%;margin:auto;padding: 5px;box-sizing: border-box;padding: 5px;">
              <img
                src={{val?.imageurl}} 
                style=" width: 100%;"
                alt=""
              />
            </div>
            <h6 class="text-primary mt-2">{{ val?.Category }}</h6>
            <h5 class="mt-2 text-secondary">
             {{ val?.title }} 
            </h5>
            <p class="text-card-content ">{{ val?.content }}</p><span>. . . . </span>
            <h6 class="text-primary mt-2" routerLink="blogdetails/{{val?._id}}"> View More ..</h6>
            <div class="d-flex justify-content-end container gap-2 "> 

                <button type="button" class="btn btn-primary " routerLink="/user-updateblog/{{val?._id}}">Edite</button>
                <button type="button" class="btn btn-danger" (click)="deltedthisblog(val?._id)">Delete</button>
            </div>

          </div>
        </div>
      </div>
      <div *ngIf="UsersBlogs.data.length<1">
        <app-display-error [displayerror]="error" [redirectTo]="redirectTo"  [btnName]="btnName" ></app-display-error>
      </div>
</section>